<!-- Begin Mailchimp Signup Form -->

<div id="mc_embed_signup">
  <form action="https://dev.us20.list-manage.com/subscribe/post?u=f6e4436db13c522a43f0d37fc&amp;id=88a95af46f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
    <!-- <label for="mce-EMAIL">Subscribe</label> -->
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter email address to stay updated" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f6e4436db13c522a43f0d37fc_88a95af46f" tabindex="-1" value=""></div>
          <div class="optionalParent">
              <div class="clear foot">
                  <input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button">
              </div>
          </div>
      </div>
  </form>
</div>

<!--End mc_embed_signup-->
